<h1 class="text-center text-2xl">Blog settings</h1>
<p class="text-center text-slate-500 dark:text-slate-300">There you can update block settings.</p>
<!-- prettier-ignore -->
<%- include('./partials/settings-input', { label: 'Blog title', value: settings.blog_title, name: 'blog_title'}); %>
<!-- prettier-ignore -->
<%- include('./partials/settings-input', { label: 'Blog subtitle', value: settings.blog_subtitle, name: 'blog_subtitle'}); %>
<!-- prettier-ignore -->
<%- include('./partials/settings-input', { label: 'Author name', value: settings.blog_author, name: 'blog_author'}); %>
