<div x-data="infiniteScrollPublishedArticles()" x-init="init()">
  <!-- Articles list -->
  <template x-for="article in items" :key="article.article_id">
    <div class="my-6">
      <h1 class="text-center text-2xl">
        <a class="gradient-link" :href="'/article/'+article.article_url" x-text="article.article_title"></a>
      </h1>
      <h2 class="text-center text-lg" x-text="article.article_subtitle"></h2>
      <div class="flex py-2">
        <div class="flex-none text-sm text-slate-500 dark:text-slate-300">
          Published: <span x-text="(new Date(article.article_published_at)).toLocaleString()"></span>
        </div>
        <span class="grow"></span>
        <div class="flex-none text-xs">
          <template x-for="tag in article.tags">
            <span class="mx-0.5 rounded-md bg-slate-300 py-0.5 px-1 dark:bg-slate-500" x-text="tag"></span>
          </template>
        </div>
      </div>
      <div
        class="prose text-center dark:prose-invert lg:prose-xl"
        x-html="article.article_text.substring(0, article.article_text.indexOf('</p>') + 4)"
      ></div>
      <a
        class="gradient-link block w-full border-b-2 pt-2 pb-4 text-center"
        :href="'/article/'+article.article_url"
        >Read more</a
      >
    </div>
  </template>
  <!-- Infinite scroll trigger -->
  <div
    class="flex h-64 w-full items-center justify-center"
    id="infinite-scroll-trigger"
  >
    <!-- prettier-ignore -->
    <%- include('./partials/loading'); %>
  </div>
</div>
